@{
	ViewBag.Title = "News | Market Downturn";
	Layout = "NewsLayout";
}

<h2 class="bg-warning text-white">Market Downturn</h2>
<div class="row">
	<div class="col-sm-8">
		<div class="card">
			<div class="card-header">
				<h3>Downturn in the Markets</h3>
			</div>
			<div class="card-body">
				<p class="text-dark">The market downturn has led to widespread concern among investors...</p>
			</div>
		</div>
	</div>
</div>
