@{
	ViewBag.Title = "About | Board Of Directors";
	Layout = "AboutLayout";
}

<h2 class="bg-info text-white">About | Board Of Directors Content</h2>
<div class="row">
	<div class="col-sm-8">
		<div class="card">
			<div class="card-header">
				<h3>Board Of Directors List</h3>
			</div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item">John Doe</li>
					<li class="list-group-item">Mark Doe</li>
					<li class="list-group-item">Timothy Doe</li>
				</ul>
			</div>
		</div>
	</div>
</div>
