@{
	ViewBag.Title = "About Index";
	Layout = "AboutLayout";
}

<h2 class="bg-info text-white">About | Main Page Content</h2>
<div class="row">
	<div class="col-sm-8">
		<div class="card">
			<div class="card-header">
				<h3>Company Mission</h3>
			</div>
			<div class="card-body">
				<p class="text-black">Some information about the company's mission...</p>
			</div>
		</div>
	</div>
</div>
